.sofa {
    height: 1300px;
    background-color: #F3F5F7;
    width: 100%;

    .sofaHei {
        margin: 0 auto;
        max-width: 1120px;


    }

    .mapa {
        font-size: 15px;
        font-weight: 300;
        color: grey;
        margin-top: 20px;

    }

    h1 {
        margin-top: 40px;
        font-size: 50px;
    }

    p {
        margin-top: 30px;
        font-size: 20px;

        margin-bottom: 20px;
    }
}