.Aheader {
    width: 420px;
    background-color: #C4C4C4;
    height: 24px;
    float: right;
    margin-top: -5px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 10px;
        padding-right: 30px;
        margin-left: 20px;
        color: #3099CC;


    }
}